*~
autom4te.cache
autoscan.log
config.log
config.status
configure.scan
data/*/raw
data/*/template
data/*/utts
deps/HDecode*.tar.gz
deps/HTK-*.tar.gz
deps/hts/
deps/HTS-demo_CMU-ARCTIC-SLT/
deps/hts_engine_API-1.05/
deps/htspatch/
deps/SPTK-3.4.1/
install
*Makefile
*.raw
tools
*.utt
work

