*~
autom4te.cache
autoscan.log
config.log
config.status
configure.scan
data/*/raw
data/*/utts
deps/*.tar.gz
deps/*.tar.bz2
deps/HDecode*.tar.gz
deps/HTK-*.tar.gz
deps/hts/
deps/HTS-demo_CMU-ARCTIC-SLT/
deps/hts_engine_API-*/
deps/htspatch/
deps/SPTK-*/
install
*Makefile
*.raw
tools
*.utt
work

data/ca/ca_*
data/ca/md5sum.txt
data/ca/upc_ca_base
data/ca/upc_ca_base*
deps/SPTK/
deps/hts_engine_API
results
